<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap">
    <title>Tomato one</title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/responsive.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>
    <script src="Java_script/Script1.js" defer></script>
    <script src="Java_script/Script2.js" defer></script>
</head>
<body>
    <div class="header header_shade">
        <div class="wrapper">
            <div class="row">
                <div class="w-2">
                    <div id="logo">
                        <a href=""><img src="IMAGES/logo.png" alt="Logo"></a>
                    </div>
                </div>
                <div class="w-2 align-right">
                    <div id="search">
                        <div id="search-in" class="flex">
                            <input type="search" placeholder="Search">
                            <button>Submit</button>
                        </div>
                    </div>

                    <div id="menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="">Company Profile</a></li>
                            <li><a href="index2.html">Products</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">R & D</a></li>
                            <li><a href="index4.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="burger-btn">
                <span></span>
            </div>
        </div>
    </div>
    <div class="content background-tomatoone">
        <div class="wrapper">
            <div class="rear-tomatoall">
                <p><a href="index2.html">←&nbsp;&nbsp;&nbsp;&nbsp;Return to all sunflowers</a></p>
            </div>
            <div class="substance-tomatoone" id="sunflowerall-app">
                <div class="w-2">
                    <h1>{{product.title}}</h1>
                    <p class="crosses">×××××</p>
                    <div class="text-align-right-tomatoone">
                        <img src="IMAGES/sunflower_vector.png" alt="">
                        <span>
                            Grows year-round.<br>
                            Not affected by day length.
                        </span>
                    </div>
                    <div class="subitle-tomatoone">
                        <span><b>Plant</b></span>
                        <hr>
                        <br>
                    </div>
                    <ul class="ul-tomatoone">
                        <li v-for="value in product.desc.plant">
                            <span>{{value}}</span>
                        </li>
                    </ul>
                    <div class="subitle-tomatoone">
                        <span><b>Flower</b></span>
                        <hr>
                        <br>
                        <ul class="ul-tomatoone">
                            <li v-for="value in product.desc.Flower">
                                <span>{{value}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="subitle-tomatoone2">
                        <span><b>Resistance</b></span>
                        <hr>
                        <br>
                        <ul class="features-text">
                            <li v-html="product.desc.Resistance"></li>
                        </ul>
                    </div>
                </div>
                <div class="w-2">
                    <img class="img-tomato" :src="product.image" alt="">
                    <div class="btn-pdf-tomato">
                        <a class="pdf-download-button" href="#" @click.prevent="addToCart(product.id)" v-if="!btnVisible">
                            <span class="pdf-icon"></span>
                            Add to cart
                        </a>
                        <a class="pdf-download-button" href="index4.html" v-if="btnVisible">
                            <span class="pdf-icon"></span>
                            Go to cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer_section">
            <div id="Сonnexions">
                <ul>
                    <li><a href="">PROFILE</a></li>
                    <li><a href="">MANAGEMENT</a></li>
                    <li><a href="">PRODUCTS</a></li>
                    <li><a href="">R&D</a></li>
                    <li><a href="">LINKS</a></li>
                    <li><a href="">SITEMAP</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>

            <div class="social_media">
                <a href=""><img src="IMAGES/Ico_in.png" alt="IN"></a>
                <a href=""><img src="IMAGES/Ico_inst.png" alt="INSTAGRAM"></a>
                <a href=""><img src="IMAGES/Ico_tube.png" alt="YOUTUBE"></a>
                <a href=""><img src="IMAGES/Ico_tw.png" alt="TWITTER"></a>
                <a href=""><img src="IMAGES/Ico_fb.png" alt="FACEBOOK"></a>
            </div>
        </div>
        <p class="copyright">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
    </div>
</body>
</html>